:root {
    --color-accent: rgb(255, 0, 255);                    /* Neon magenta */
    --color-accent-inverted: rgb(0, 255, 128);           /* Electric green */
    --color-link: var(--color-accent);
    --color-link-inverted: var(--color-accent-inverted);
    --color-text: rgb(230, 230, 255);                    /* Light bluish-white 230, 230, 255 */
    --color-text-inverted: rgb(10, 10, 30);              /* Dark blue-black */
    --color-background-header: rgb(30, 30, 80);        /* Dark blue header */
    --color-background-page: rgb(10, 10, 30);            /* Dark blue base */  
    --grid-columns: 12;  
}

